<%- defaults = Redmine::Plugin::registered_plugins[:redmine_issue_release_note].settings[:default] -%>
<%- ya_no_options = [[l(:rn_yes), true], [l(:rn_no), false]] -%>

<h2><%= l(:settings) %></h2>
<p>
  <label><%= l(:rn_title_singular) %>:</label>
  <%= text_field_tag('settings[rn_title_singular]', settings['rn_title_singular'] || defaults[:rn_title_singular] ) %>
  <%= "Default: #{l(:release_note)}" %>
</p>
<p>
  <label><%= l(:rn_title_pluralize) %>:</label>
  <%= text_field_tag('settings[rn_title_pluralize]', settings['rn_title_pluralize'] || defaults[:rn_title_pluralize] ) %>
  <%= "Default: #{l(:release_notes)}" %>
</p>

<h2><%= l(:page) %></h2>
<%= render partial: 'settings/issue_release_note_settings_list_numbers',
           locals: {
             name_list:
               %w[rn_page_margin_left rn_page_margin_top
               rn_page_margin_right rn_font_size_title
               rn_font_size_caption rn_font_size_default],
             settings: settings, defaults: defaults } %>

<h2><%= l(:header) %></h2>
<p>
  <label><%= l(:rn_header_enabled) %>:</label>
  <%= select_tag('settings[rn_header_enabled]',
                 options_for_select(ya_no_options, settings['rn_header_enabled'])) %>
</p>
<%= render partial: 'settings/issue_release_note_settings_list_numbers',
           locals: {
             name_list: %w[rn_header_margin rn_header_logo_width],
             settings: settings, defaults: defaults } %>
<p>
  <label><%= l(:rn_header_logo) %>:</label>
  <%= text_field_tag('settings[rn_header_logo]', settings['rn_header_logo'] || defaults[:rn_header_logo] ) %>
</p>

<h2><%= l(:footer) %></h2>
<p>
  <label><%= l(:rn_footer_enabled) %>:</label>
  <%= select_tag('settings[rn_footer_enabled]',
                 options_for_select(ya_no_options, settings['rn_footer_enabled'])) %>
</p>
<%= render partial: 'settings/issue_release_note_settings_list_numbers',
           locals: {
             name_list: %w[rn_footer_margin rn_footer_logo_width rn_footer_font_size_company],
             settings: settings, defaults: defaults } %>
<p>
  <label><%= l(:rn_footer_logo) %>:</label>
  <%= text_field_tag('settings[rn_footer_logo]', settings['rn_footer_logo'] || defaults[:rn_footer_logo], rows: 5 ) %>
</p>
<p>
  <label><%= l(:rn_footer_company) %>:</label>
  <%= text_area_tag('settings[rn_footer_company]', settings['rn_footer_company'] || defaults[:rn_footer_company], rows: 5 ) %>
</p>

<h2><%= l(:others) %></h2>
<%= render partial: 'settings/issue_release_note_settings_list_numbers',
           locals: {
             name_list: %w[rn_list_caption_width rn_field_gap],
             settings: settings, defaults: defaults } %>
<p>
  <label><%= l(:rn_issue_show_names) %>:</label>
  <%= select_tag('settings[rn_issue_show_names]',
                 options_for_select(ya_no_options, settings['rn_issue_show_names'])) %>
</p>
<p>
  <label><%= l(:rn_names_text) %>:</label>
  <%= text_field_tag('settings[rn_names_text]',
                     settings['rn_names_text'] || defaults[:rn_names_text],
                     title: l(:default_separator_hint) ) %>
</p>
<p>
  <label><%= l(:rn_name_date) %>:</label>
  <%= text_field_tag('settings[rn_name_date]',
                     settings['rn_name_date'] || defaults[:rn_name_date] ) %>
</p>
<p>
  <label><%= l(:rn_time_activity_id) %>:</label>
  <%= number_field_tag('settings[rn_time_activity_id]',
                       settings['rn_time_activity_id'] || defaults[:rn_time_activity_id]) %>
  <%= link_to l(:rn_time_activity_find), enumerations_path %>
</p>
<p>
  <label><%= l(:rn_image_scale) %>:</label>
  <%= number_field_tag('settings[rn_image_scale]', settings['rn_image_scale'] || defaults[:rn_image_scale], :step => 0.1) %>
</p>
<p>
  <label><%= l(:rn_override_language) %>:</label>
  <%= text_field_tag('settings[rn_override_language]',
                     settings['rn_override_language'] || defaults[:rn_override_language]) %>
</p>
<p>
  <label><%= l(:rn_attachment_regex) %>:</label>
  <%= text_field_tag('settings[rn_attachment_regex]',
                     settings['rn_attachment_regex'] || defaults[:rn_attachment_regex],
                     title: l(:rn_attachment_regex_hint) ) %>
</p>
